RewriteEngine on

#RewriteCond %{HTTP_HOST} ^http://localhost/deva/ [NC]
#RewriteRule ^(.*)$ http://localhost/deva/$1 [L,R=301,NC]

ErrorDocument 404 http://localhost/deva/404.php

RewriteRule ^anasayfa$ index.php [NC,L]
RewriteRule ^hakkimizda$ about.php [NC,L]
RewriteRule ^hizmetlerimiz$ services.php [NC,L]
RewriteRule ^hizmet$ services-detail.php [NC,L]
RewriteRule ^doktorlarimiz$ doctors.php [NC,L]
RewriteRule ^sayfa$ sayfalar.php [NC,L]
RewriteRule ^blog$ blog.php [NC,L]
RewriteRule ^blogdetay$ blog-single.php [NC,L]
RewriteRule ^haber$ haber.php [NC,L]
RewriteRule ^haberdetay$ haber-single.php [NC,L]
RewriteRule ^iletisim$ contact.php [NC,L]
RewriteRule ^sss$ faq.php [NC,L]
